    body {
        background-image: url(https://i.pinimg.com/736x/a7/40/af/a740aff17cf2eed37916605f5328004b.jpg);
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
    }
